<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->

<!--Path instead scenario-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set">
  <sitecore>
	  <links>
		  <!--In Below we are not changing anything in param so instead of using patch instead it would be better to use below 2 ways either path attribute or set:type
		  just to replace sitecore itemurlbuilder with cutomcode Url builder-->
		  
		  <!--<itemUrlBuilder type="Sitecore.Demo.MVC.Web.Extensions.CustomBlogLink, Sitecore.Demo.MVC.Web"
						  patch:instead="*[@type='Sitecore.Links.UrlBuilders.ItemUrlBuilder, Sitecore.Kernel']">
			  <param type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
				  <alwaysIncludeServerUrl ref="links/urlBuilder/alwaysIncludeServerUrl"/>
				  <languageEmbedding ref="links/urlBuilder/languageEmbedding"/>
				  <languageLocation ref="links/urlBuilder/languageLocation"/>
				  <lowercaseUrls ref="links/urlBuilder/lowercaseUrls"/>
				  <encodeNames ref="links/urlBuilder/encodeNames"/>
				  <useDisplayName ref="links/urlBuilder/useDisplayName"/>
				  <addAspxExtension>false</addAspxExtension>
				  <siteResolving>true</siteResolving>
				  <shortenUrls>true</shortenUrls>
			  </param>
		  </itemUrlBuilder>-->

		  <!--Path attribute scenaio - here we will replace the type attribute with our custom code-->
		  <!--<itemUrlBuilder>
			  <patch:attribute name="type">
				  Sitecore.Demo.MVC.Web.Extensions.CustomBlogLink, Sitecore.Demo.MVC.Web
			  </patch:attribute>
		  </itemUrlBuilder>-->
		  
		  <!--set example-->
		  <itemUrlBuilder set:type="Sitecore.Demo.MVC.Web.Extensions.CustomBlogLink, Sitecore.Demo.MVC.Web" />
		  
		  <!--patch using delete-->
		  <!--<itemUrlBuilder>
			  <patch:delete />
		  </itemUrlBuilder>-->
	  </links>
  </sitecore>
</configuration>